# Xcode / iOS
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Editores
.vscode/
.idea/
